<%= form_with(model: evento) do |form| %>
  <% if evento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evento.errors.count, "error") %> Este evento no se puede grabar:</h2>

      <ul>
        <% evento.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :nombre, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :fecha_inicial %>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="mb-3">
    <%= form.label :fecha_final %>
    <%= form.datetime_select :end_time %>
  </div>
 <br/>
  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
