

<h1>Eventos</h1>

<table class="table  table-responsive table align-middle table-hover table-bordered ">
  <thead class="table-light">
    <tr>
      <th scope="col">Evento</th>
      <th>Fecha Inicial</th>
      <th>Fecha Final</th>
      <th>Hora Inicio</th>
      <th>Hora Fin</th>
      <th>Horas</th>
      
    </tr>
  </thead>

  <tbody>
    <% @eventos.each do |evento| %>
      <tr>
        <th scope="row"><%= link_to evento.name, evento %></th>
        <td><%= evento.start_time.strftime("%d-%m-%Y") %></td>
        <td><%= evento.end_time.strftime("%d-%m-%Y") %></td>
        <td><%= evento.start_time.strftime("%H:%M") %></td>
        <td><%= evento.end_time.strftime("%H:%M") %></td>
        <td><%= evento.end_time - evento.start_time %></td>
        
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Evento', new_evento_path, class:"btn btn-primary" %>

